body{
    margin:0;
    padding:0;
    font-family: 'Lato', sans-serif;

}
.header{
    display: flex;
    /* justify-content: space-between; */
    background-color: rgba(229, 84, 115, 0.10);
    padding: 30px 0px 0 250px;
    gap: 20%;
}
.header-img{
    width: 500px;
}
.header-intro{
    padding-top: 80px;
    justify-content: center;
    
}
.header-intro-title{
    font-size: 65px;
    font-weight: 800;
}
.header-intro-des{
    font-size: 15px ;
    color:rgba(39, 39, 39, 0.60);
    
    

}
.btn-primary{
    padding: 18px 40px;
    background-color: #E55473;
    border: none;
    font-size: 20px;
    border-radius:5px;
    color: #FFF;
}

/*Features Style  */
.features{
    margin: 178px 250px;
}
.features .intro-des{
    font-size: 18px;
    color: rgba(39, 39, 39, 0.60);
}
.features-flowers{
    display: flex;
    text-align: center;
    justify-content: center;
    gap:20px;
}

.pink-flower-1{
    width: 464px;
    height: 538px;
    background-color: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
}
.pink-flower-2{
    width: 464px;
    height: 538px;
    background-color: rgba(5, 151, 160, 0.15);
    border-radius: 300px 300px 0px 0px;
}
.pink-flower-3{
    width: 464px;
    height: 538px;
    background-color: rgba(71, 125, 17, 0.15);
    border-radius: 300px 300px 0px 0px;
}
.features-flowers .pink-flower-1 img{
    padding-top: 110px;
}
.features-flowers .pink-flower-2 img{
    padding-top: 117px;
}
.features-flowers .pink-flower-3 img{
    padding-top: 67px;
}

.pink-flower-des-2{
    padding-top:50px ;
    text-decoration: underline;
    font-size: 24px;
}
.pink-flower-des-1{
    text-decoration: underline;
    font-size: 24px;
}
.pink-flower-des-3{
    text-decoration: underline;
    font-size: 24px;
}



/*Hot deal section style */
.hot-deal{
    display: flex;
    background-color: rgba(229, 84, 115, 0.05);
    gap:20%;
    padding: 50px 200px;
    /* justify-content: space-between; */
    
}
.hot-deal-intro{
    text-align: center;
    padding:100px 0 100px 200px;
}
.hot-deal-title{
    font-size: 35px;
}
.hot-deal-des{
    color: rgba(39, 39, 39, 0.60);
}
.hot-deal-off{
    color: #E55473;
}

/*instagram section*/

.instagram{
    margin:128px 250px;
}
.intro{
    text-align: center;
}
.intro-title{
    font-size: 40px;
}
.intro-des{
    margin-bottom: 40px;
}
.insta-flower{
    text-align: center;
    display: flex;
    justify-content: center;
    gap:15px;
}
.insta-flower img{
    width: 340px;
}

/*Deal Section*/
.deal{
    margin: 128px 250px;
    text-align: center;
    justify-content: center;
    background-image: url('images/Rectangle\ 9.png');
    padding: 120px 0;
}
.deal-intro-info{
    font-size: 40px;
    margin: 0;
}
.deal-intro-des{
    font-size: 18px;
    color:rgba(39, 39, 39, 0.60);
}

.deal-form input[type="email"]{
    width:45%;
    padding: 18px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    margin-right: 7px;

}

/*Footer area style */

.footer-area{
    background-color: black;
    text-align: center;
    padding: 100px 0;
}
.footer-des{
    color:rgba(255, 255, 255, 0.90);
    font-size: 18px;
}
.primary-color{
    color: #E55473;
}
.footer-title{
    color: #FFF;
    font-size: 48px;
    margin: 0;
}
.footer-right{
    color:rgba(255, 255, 255, 0.40);
}